* {
  margin: 0;
}
body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 1.125rem;
}

.app_leftContainer {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.125rem;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app__graphTitle {
  margin: 1.125rem 0;
  text-align: center;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
